body {
}
.cityEntry {
    width: 100%;
    background-color: aliceblue;
    height: auto;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    margin-right: 0px;
}

.horizontalLine {
    width: 100%;
    height: 2px;
    background-color: skyblue;
}
.clear {
    clear: both;
}

.cityList {
    margin-top: 20px;
    width: 100%;
    background-color: aliceblue;
    height: auto;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
